* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.quiz-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
}
.question-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.check {
  letter-spacing: 0.5rem;
  font-weight: 800;
}
.options-container {
  padding-top: 20px;
}
.class {
  padding-top: 10px;
}

.btn {
  margin-right: 30px;
  width: fit-content;
  padding: 10px;
  width: 100px;
}
